/* Body y head */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-attachment: fixed;
    background: #222;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    cursor: url(https://cur.cursors-4u.net/games/gam-10/gam948.ani), url(https://cur.cursors-4u.net/games/gam-10/gam948.png), auto !important;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {

    -webkit-appearance: none;
}
html::-webkit-scrollbar:vertical {
    width: 10px;
}
.contenedor::-webkit-scrollbar-button,
html::-webkit-scrollbar-button:increment {
    display: none;
}
html::-webkit-scrollbar:horizontal {
    height: 10px;
}
html::-webkit-scrollbar-thumb {
    background-color: #3b5998;
    border-radius: 20px;
    border: 2px solid #858585;
}
html::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Preloader */
.hidden{
    overflow: hidden;
}
#preload{
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
    position: fixed;
    z-index: 25000;
    background: #222;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
#preload .loader{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid transparent;
    border-bottom: 20px solid #e29c19;
    border-right: 20px solid #e29c19;
    transform: rotate(45deg);
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#preload .loader .ball{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: animateb 4s ease-in-out infinite;
}
@keyframes animateb{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#preload .loader .ball::before{
    content: '';
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
}
/*bot칩n up*/
.boton-subir{
    display: none;
    background: #ce8806;
    border: thin solid #fff;
    border-radius: 3px;
    position: fixed;
    right: 15px;
    bottom:2px;
    z-index: 999999999;
}
/*evento hover*/
.boton-subir:hover{
    box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
    color: #fff;
    font-size: 1.5em;
    padding: 10px 10px 10px 7px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
/*header y nav*/
header {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 0;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
nav {
    float: right;
    transition: .5s;
}
.clearfix {
    clear: both;
}
nav ul {
    margin: 0 5px 0 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    display: block;
    margin: 1px;
    padding: 20px;
    text-decoration: none;
    color: #262626;
    transition: 0.5s;
}
nav ul li a.active,
nav ul li a:hover {
    background: #e29c19;
    color: #fff;
}
#logo {
    position: absolute;
    width: 15%;
    margin: 1% 3%;
}
.container-progressbar{
    width: 100%;
    max-width: 1200px;
    height: 10px;
    background: #fff;
    position: fixed;
    top: 0;
}
.progressbar{
    width: 0%;
    background-color: darkorange;
    height: 100%;
}
header hgroup {
    position: relative;
    border: 3px solid rgba(0, 0, 0, .2);
    width: 30%;
    left: 35%;
    margin: 30px 0;
}
header h1,
header h2 {
    display: flex;
    position: relative;
    justify-content: center;
    color: #a56c01;
    max-width: 400px;
}
header h1 {
    font-size: 40px;
}
header h2 {
    font-size: 25px;
    text-align: center;
}
/*Section*/
section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
section h1 {
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ce8806;
    background: #eee;
    margin: 10px 10px 0;
    padding-top: 10px;
}
.trabajos {
    background: #eee;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trabajo img {
    object-fit: cover;
    width: 100%;
}
.trabajo{
    width: 100%;
    padding: 20px;
    max-width: 300px;
    min-width: 300px;
    overflow: hidden;
    text-align: center;
}
.trabajo a{
    text-decoration: none;
    font-size: 20px;
    color: #6D6D6D;
    margin-bottom: 5px;
}

.trabajo span{
    color: #6D6D6D;
    margin-bottom: 5px;
}
a:hover {
    color: #069;
}
a {
    color: #6D6D6D;
}
/* Padding-bottom y top para la imagen */
.mfp-no-margins img.mfp-img {
padding: 0;
}
/* Posici칩n de sombra detr치s de la imagen */
.mfp-no-margins .mfp-figure:after {
top: 0;
bottom: 0;
}
/* Relleno para contenedor principal */
.mfp-no-margins .mfp-container {
padding: 0;
}


/* Para la animaci칩n de zoom */

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
opacity: 0;
-webkit-backface-visibility: hidden;
-webkit-transition: all 0.3s ease-out; 
-moz-transition: all 0.3s ease-out; 
-o-transition: all 0.3s ease-out; 
transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
opacity: 0;
}

/**
* Simple fade transition (Estilos para los videos y mapas)
*/
.mfp-fade.mfp-bg {
opacity: 0;
-webkit-transition: all 0.15s ease-out; 
-moz-transition: all 0.15s ease-out; 
transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
opacity: 0;
-webkit-transition: all 0.15s ease-out; 
-moz-transition: all 0.15s ease-out; 
transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
opacity: 0;
}
/*footer*/
footer {
    max-width: 1200px;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 4px;
    margin-top: 15px;

}
footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: #eee;
    padding: 50px 156px;
}
footer .container .sec.aboutus {
    width: 40%;
}
footer .container h2 {
    position: relative;
    color: #ce8806;
    font-weight: 550;
    margin-bottom: 15px;
}
footer .container h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #858585;
    transition: .3s;
}
footer p {
    color: #6D6D6D;
}
.sci {
    margin-top: 20px;
    display: flex;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 30px;
}
.sci li a:hover {
    background: #6D6D6D;
}
.quicklinks {
    position: relative;
    width: 25%;
}
.quicklinks ul li {
    list-style: none;
}
.quicklinks ul li a {
    color: #6D6D6D;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks ul li a:hover {
    color: #069;
}
.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info {
    position: relative;
}
.contact .info li {
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    background: #6D6D6D;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.contact .info li span {
    color: #6D6D6D;
}
#contac{
    color: #fff;
    padding-left: 5px;
}
.contact .info li a {
    color: #6D6D6D;
    text-decoration: none;
}
.contact .info li a:hover {
    color: #069;
}
.copy {
    width: 100%;
    background: #6D6D6D;
    padding: 8px 100px;
    text-align: center;
}
.copy p{
    color: #fff;
}
@media (max-width:1200px) {

    header {
        margin: 20px;
    }
}
@media (max-width:768px) {

    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #ce8806;
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active::before {
        content: '\f00d';
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
        width: 100%;
    }
    nav.active ul {
        display: block;
    }
}
@media screen and (min-width: 320px) and (max-width: 425px){

    header,
    section,
    footer{
        margin-top: 0;
        margin-right: 0;
        margin-left: -1px;
    }
    #logo{
        margin-top: 10px;
        margin-bottom: 0;
        width: 25%;
        position: relative;
    }
    header hgroup{
        width: 85%;
        left: 7%;
    }
    .container-progressbar{
        width: 100%;
    }
    .trabajos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .Precios p, .Proyectos p, .acerca p {
        width: 100%;
        margin-left: 0%;
    }
    footer{
        padding: 10px;
        margin-top: 5%;
    }
    footer .container{

        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
    }

    footer .container .sec{

        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec.aboutus,
    .quicklinks,
    .contact{

        width: 100%;
    }

    .copy{

        padding: 8px 40px;
    }
}
@media screen and (min-width: 426px) and (max-width: 645px) {

    #logo{
        margin-top: 10px;
        margin-bottom: 0;
        width: 25%;
        position: relative;
    }
    header hgroup{
        width: 80%;
        left: 10%;
    }
    header hgroup h1,
    header hgroup h2{
        text-align: center;
        left: 10%;
    }
    .container-progressbar{
        width: 100%;
    }
    .trabajos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .Precios p, .Proyectos p, .acerca p {
        width: 70%;
        margin-left: 15%;
    }
    footer .container{

        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
    }
    footer .container .sec{

        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec.aboutus,
    .quicklinks,
    .contact{

        width: 100%;
    }

    .copy{

        padding: 8px 40px;
    }
}
@media screen and (min-width: 646px) and (max-width: 800px){

    #logo{
        margin-top: 10px;
        margin-bottom: 0;
        position: relative;
    }
    header hgroup{
        width: 80%;
        max-width: 400px;
        left: 20%;
    }
    .container-progressbar{
        width: 100%;
    }
    .trabajos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .Precios p, .Proyectos p, .acerca p {
        width: 50%;
        margin-left: 25%;
    }
    footer .container{

        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
    }
    footer .container .sec{

        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec.aboutus,
    .quicklinks,
    .contact{

        width: 100%;
    }

    .copy{

        padding: 8px 40px;
    }
}
@media screen and (min-width: 801px) and (max-width: 1150px){

    .container-progressbar{
        width: 100%;
    }
    footer .container{

        flex-direction: column;
        width: 100%;
        padding: 50px 20px;
    }
    footer .container .sec{

        margin-right: 0;
        margin-bottom: 40px;
    }
    .trabajos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer .container .sec.aboutus,
    .quicklinks,
    .contact{

        width: 100%;
    }

    .copy{

        padding: 8px 40px;
    }
}