@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root{
    --color1: #E29C19;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/bg.jpg');
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #FFF;
}
.banner .content p{
    font-size: 1em;
    color: #FFF;
}
.btn{
    font-size: 1em;
    color: #FFF;
    background: var(--color1);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
header.sticky{
    background: #FFF;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
header .logo{
    color: #FFF;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .logo span{
    color: var(--color1);
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    color: var(--color1);
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 45%;
}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: var(--color1);
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #FFF;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
    display: none;
}
.menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text{
    padding: 15px;
}
.menu .content .box .text h3{
    font-weight: 400;
    color: #111;
    text-align: center;
}
.menu .content .box .text h3 a{
    text-decoration: none;
    color: #111;
}
#small-dialog,
#small-dialog2,
#small-dialog3,
#small-dialog4,
.small{
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: fit-content;
    margin: 40px auto;
    position: relative;
    box-shadow: 0 5px 20px #000;
}
table,td,th {
	border: 1px solid black;
}
.mfp-content ul li{
    padding-bottom: 10px;
}
.mfp-close-btn-in .mfp-close{
    color: #FF0000 !important;
    font-weight: 900;
}
/* Fade-zoom animation for first dialog start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8);
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
/* Fade-move animation for second dialog at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}
/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text{
    padding: 15px 0 5px;
}
.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.testimonials{
    background: url('../images/bg2.jpg');
    background-size: cover;
}
.white .titleText,
.white p{
    color: #FFF;
}
.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials .content .box .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials .content .box .text{
    text-align: center;
}
.testimonials .content .box .text p{
    color: #666;
    font-style: italic;
}
.testimonials .content .box .text h3{
    margin-top: 20px;
    font-size: 1em;
    color: var(--color1);
    font-weight: 600;
}
.contact{
    background: url('../images/bg3.jpg');
    background-size: cover;
}
.contactForm{
    padding: 75px 50px;
    background: #FFF;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #FFF;
    background: var(--color1);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.copyrightText p{
    color: #333;
}
.copyrightText a{
    color: var(--color1);
    font-weight: 500;
    text-decoration: none;
}
@media screen and (max-width: 991px) {
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFF;
    }
    header .navigation li {
        margin-left: 0;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url('/HTML5 y CSS/Ejercicios xDDD/Website Food/images/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url('/HTML5 y CSS/Ejercicios xDDD/Website Food/images/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #FFF;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        width: 100%;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .menu .content{
        margin-top: 20px;
    }
    .menu .content .box{
        margin: 10px;
    }
    .menu .content .box .imgBx{
        height: 260px;
    }
    .title{
        text-align: center;
    }
    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .testimonials .content .box{
        margin: 10px;
        padding: 20px;
    }
    .contactForm{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 480px) {
    .banner .content h2{
        font-size: 2.2em;
        color: #FFF;
    }
}