@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* Body y head */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.canvas{
	display:none;
}
body {
    background: #CDCDCD;
    background: linear-gradient(90deg, #071A2C 50%, #123B1A 50%);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    padding: 50px;
    width: 360px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}
.box::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.1) 15%,
    transparent 50%, transparent 85%, rgba(255,255,255,0.3)100%);
}
.box .form{
    position: relative;
    width: 100%;
}
.box .form form{
	  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 15px; 
  grid-template-areas: 
    "guiaMadre guiaMadre"
    "piezas de"
    "origen destino"; 
}
.piezas { grid-area: piezas; }
.de { grid-area: de; }
.origen { grid-area: origen; }
.destino { grid-area: destino; }
.guiaMadre { grid-area: guiaMadre; }
.box .form h2{
    color: #FFF;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.box .form .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.box .form .inputBox input{
    width: 100%;
    height: 32px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
}
.box .form .inputBox input::placeholder{
    color: #FFF;
}
.box .form button{
    background: #FFF;
    color: #111;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}
.box .form p{
    color: #FFF;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
}
.box .form a{
    color: #FFF;
}
p{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
img.logo {
    position: relative;
    width: 18%;
    max-width: 200px;
    top: 20px;
    left: 20px;
}
@page{
	margin: 0;
}
@media print{
	/* indicamos el salto de pagina */
	.break{
		display:block;
		page-break-before:always;
	}
}
