*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(153deg, rgba(17,17,17,1) 0%, rgba(34,34,34,1) 50%, rgba(51,51,51,1) 100%);
	background-attachment: fixed;
}
span{
	color: #fff;
	text-shadow:
		0 0 5px #2196F3,
		0 0 10px #2196F3,
		0 0 20px #2196F3,
		0 0 40px #2196F3,
		0 0 80px #2196F3,
		0 0 90px #2196F3,
		0 0 100px #2196F3;
	padding: 10px;
}
h4{
	color: #FFF;
}
h2{
	text-align: center;
	color: #FFF;
	font-family: 'Roboto Mono', monospace;
}
